<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.cloud_config_client.dao.UserMapper">
  <resultMap type="com.example.cloud_config_client.entity.sysUser" id="sysUserMap">
        <!-- 用result属性来映射非主键字段 -->
      <result property="userName" column="name"/>
      <result property="phone"  column ="phone"></result>
  </resultMap>
  <select id="findAll" resultMap="sysUserMap">
     select id,name,phone  from sys_user where name = '张患者'
   </select>
</mapper>